version: "3.9"

services:
  mongodb:
    image: mongo:7
    container_name: mongodb-battleship
    ports:
      - "27019:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  backend:
    build: .
    container_name: backend-c-battleship
    depends_on:
      - mongodb
    environment:
      MONGO_URI: mongodb://mongodb:27017
    ports:
      - "9090:9090"
    networks:
      - app-network

volumes:
  mongo-data:

networks:
  app-network:
